@import '../shared-styles/buttons';
@import '../shared-styles/variables';

.item {
	display: flex;
	flex-flow: column;
	align-items: center;
	margin: 0.5rem;
	padding: 1rem;
	min-width: 200px;
	border: 2px solid black;
	border-radius: 5px;
}

.buttons {
	display: flex;
	flex-flow: column;
	align-items: center;
	width: 100%;

	> .button {
		margin-top: 0.5rem;
	}

	> .placeholder {
		width: 100%;
		height: 15px;
		margin-top: 1rem;
		background-color: #b9b9b9;

		&.isButton {
			margin-top: 0.5rem;
			width: 50%;
			height: 30px;
		}
	}
}