@import '../../shared-styles/buttons';
@import '../../shared-styles/variables';


.logoWrapper {
	display: flex;
	align-items: center;
	transform-origin: 0;
}

.logo {
	display: block;
	background-repeat: no-repeat;
}