@import '../../shared-styles/buttons';
@import '../../shared-styles/variables';


.logoWrapper {
	display: flex;
	align-items: center;
	transform-origin: 0;
	color: #000;
	text-decoration: none;
}

.logo {
	display: block;
	background-repeat: no-repeat;
}