@import '../shared-styles/buttons';
@import '../shared-styles/variables';


.homeWrapper {
	display: flex;
	flex-flow: column;
	align-items: center;
	width: 100%;
	padding-top: 1rem;
}

.logo {
  display: block;
  width: 236px;
  height: 221px;
  background: url('../images/darth-vader.jpg');
  background-repeat: no-repeat;
}

.title {
	font-size: 4rem;
}

.buttons {
	margin-bottom: 2rem;
}

.button {
	& + & {
		margin-left: 1rem;
	}
}

.ranking {
	display: flex;
	align-items: center;
	margin-top: 2rem;
	transition: all 0.2s ease-out;

	#{$p-event} {
		color: $primary1Color;
	}

	.text {
		display: inline-block;
		line-height: 1.8rem;
		vertical-align: bottom;
		margin-left: 0.3rem;
	}
}

.gameInfo {
	margin-top: 2rem;
}