@import '../shared-styles/variables';


.swquizWrapper {
	margin: 1rem;
}

.top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.items {
	display: grid;
	margin: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

	.emptyItens {
		display: flex;
		justify-content: center;
		width: 100%;
	}
}