@import '../shared-styles/variables';

.gameLoadingWrapper {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	height: 300px;
	width: 500px;
}

.info {
	margin-top: 2rem;
}

.contador {
	font-size: 8rem;
}